Options +FollowSymlinks -Indexes -MultiViews

RewriteEngine On
RewriteBase /

# Forward to "public" folder
RewriteCond %{REQUEST_URI} !^/dropbox-integration/public
RewriteRule ^(.*)$ dropbox-integration/public/$1?%{QUERY_STRING} [QSA,L]
